<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackntriggery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackNTriggery">
        <activity android:name=".browser_2"></activity>
        <activity android:name=".new_diary_2" />
        <activity android:name=".diary_full_view" />
        <activity
            android:name=".Dairy_tab"
            android:label="@string/title_activity_dairy_tab"
            android:theme="@style/Theme.TrackNTriggery.NoActionBar" />
        <activity android:name=".OtherPage1" />
        <activity android:name=".New_Item" />
        <activity
            android:name=".Track_tabbed"
            android:label="@string/title_activity_track_tabbed"
            android:theme="@style/Theme.TrackNTriggery.NoActionBar" />
        <activity android:name=".Track" />
        <activity android:name=".register2" />
        <activity android:name=".OTPverify1" />
        <activity android:name=".Divisions" />
        <activity android:name=".dash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>